@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wittgenstein', serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(236, 200, 172);
}

.header {
    position: absolute;
    width: 100%;
}

.navitems li {
    list-style: none;
}

.navlink {
    text-decoration: none;
    color: #72342e;
    transition: all 0.2s;
    text-transform: uppercase;
}

.navlink:visited {
    color: #72342e;
}

.navlink:hover {
    color: #db6f63;
}

.menubar {
    position: fixed;
    padding: 20px 40px;
    border-bottom: 1px solid #72342e;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.menubar .logo {
    width: 60px;
    height: 60px;
    background-image: url(./assets/Icon-inactive.png);
    background-size: contain;
    background-position: center;
    transition: all 0.2s;
}

.menubar .logo:hover {
    background-image: url(./assets/icon-active.png);
}

.menubar .navitems {
    display: flex;
    gap: 2rem;
}

.togglebutton {
    display: none;
}

.togglebutton span {
    color: #72342e;
    transition: all 0.2s;
    cursor: pointer;
}

.togglebutton span:hover{
    color: #db6f63;
}

.dropdown {
    position: absolute;
    overflow: hidden;
    right: 5rem;
    top: 38px;
    width: 0px;
    height: 0px;
    padding: 0;
    background-color: rgba(255, 241, 230, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 120px 0px 120px 60px;
    list-style: none;
    text-decoration: none;
    color: #72342e;
    transition: all 0.2s;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 60px;
}

.bodysection {
    height: 100vh;
    background-color: rgb(236, 200, 172);
}

.langgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 30px;
}

.langbutton {
    background-color: #72342e;
    height: 100px;
    border-radius: 100px;
    transition: all 0.2s;
}

.langbutton:hover {
    background-color: #db6f63;
}

.langbutton a {
    color: rgb(236, 200, 172);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.langbutton a:visited {
    color: rgb(236, 200, 172);
}

.welcometext, .welcomescroll, .bodytext, .welcometitle, .bodytitle {
    color: #72342e;
}

.welcometext, .welcomescroll, .welcometitle {
    text-align: center;
}

.bodytext {
    text-align: center;
    margin: 20px 300px;
    font-size: 1.5em;
}

.bodytextcenter {
    text-align: center;
    color: #72342e;
    margin-top: 20px;
    font-size: 1.5em;
}

.bodylink {
    color: #db6f63;
    transition: all 0.2s;
}

.bodylink:hover {
    color: #2d1412 !important;
}

.bodylink:visited {
    color: #db6f63;
}

.welcometext {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 40vh;
}

.welcometitle {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
}

.welcomescroll {
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 25vh;
}

.bodytitle {
    margin-top: 30px;
    text-align: center;
    font-size: 4rem;
}

.verticalcardholder {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.verticalcard {
    display: flex;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 100px;
    height: 60vh;
    border-radius: 50px;
    color: rgb(236, 200, 172);
    text-decoration: none;
    transition: all 0.2s;
    justify-content: center;
}

.verticalcard:visited {
    color: rgb(236, 200, 172);
}

.vcardtext {
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

#progrcard {
    background: url('https://images.unsplash.com/photo-1615525137689-198778541af6?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 200%;
    background-repeat: no-repeat;
    background-color: #72342e;
    background-size: cover;
}

#progrcard:hover {
    background-position: 50%;
}

#progcard:hover p{
    box-shadow: 0px 0px 100px black;
}

#photocard {
    background: url('https://images.unsplash.com/photo-1516035069371-29a1b244cc32?q=80&w=1638&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 200%;
    background-repeat: no-repeat;
    background-color: #72342e;
    background-size: cover;
}

#photocard:hover {
    background-position: 50%;
}

#musiccard {
    background: url('https://images.unsplash.com/photo-1643240150781-379a783242a9?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 200%;
    background-repeat: no-repeat;
    background-color: #72342e;
    background-size: cover;
}

#musiccard:hover {
    background-position: 20%;
}

#graphcard {
    background: url('https://images.unsplash.com/photo-1569323112693-492fe7ec1d3b?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 200%;
    background-repeat: no-repeat;
    background-color: #72342e;
    background-size: cover;
}

#graphcard:hover {
    background-position: 40%;
}

.resumelink a:visited {
    color: #72342e;
}

.resumecontainer {
    margin-top: 50px;
    width: 800px;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: calc((100vw - 800px)/2);
}

.resumebox {
    background-color: #72342e;
    border-radius: 40px;
    padding: 30px;
}

.two-wide {
    grid-column: span 2;
}

.rboxtitle, .rboxmaininfo, .rboxsecondinfo {
    color: rgb(236, 200, 172);
}

.rboxtitle {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.rboxmaininfo {
    font-size: 2.5rem;
}

#aboutcontact {
    height: 80vh !important;
}

.footer {
    height: 50vh;
    background-color: #72342e;
}

.footertitle, .footertext {
    text-align: center;
    color: rgb(236, 200, 172);
}

.footertitle {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 50px;
}

.footertext {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-a, .footerlink {
    color: rgb(236, 200, 172);
    transition: all 0.2s;
}

.footer-a:visited, .footerlink:visited {
    color: rgb(236, 200, 172);
}

.footer-a:hover, .footerlink:hover {
    color: #db6f63;
}

.footerlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 50px 100px;
}

.footerlink {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.teleport {
    padding: 150px 100px;
    display: flex;
}

.tpmenu {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(212, 174, 146);
    height: 500px;
    width: 600px;
    border-radius: 50px;
    line-height: 75px;
}

.tpmenuitem {
    list-style: none;
    
}

.tpmenuitem a {
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
    color: #72342e;
    text-transform: uppercase;
    transition: all 0.2s;
}

.tpmenuitem a:visited {
    color: #72342e;
}

.tpmenuitem a:hover {
    color: #db6f63;
}

.tpcontent {
    border-top: 2px solid #72342e;
    border-bottom: 2px solid #72342e;
    margin-left: 50px;
    height: calc(100vh - 200px);
    overflow: scroll;
    scroll-behavior: smooth;
}

.tpsection {
    padding-bottom: 50px;
}

.tptitle {
    font-size: 4em;
    font-weight: 700;
    color: #72342e;
}

.tpsectionitemtitle {
    font-size: 2em;
    font-weight: 700;
    color: #72342e;
}

.tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
    color: #2d1412;
}

.tpsectionitemlocation, .tpsectionitemdate {
    font-size: 1.5em;
    font-weight: 500;
}

.tpsectionitemtitle, .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
    text-indent: 30px;
}

.tpsectionitemdesc {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.1em;
    font-weight: 300;
}

.tplink {
    color: #72342e;
    transition: all 0.2s;
}

.tplink:hover {
    color: #db6f63 !important;
}

.tplink:visited {
    color: #72342e;
}

@media(max-width: 1200px) {
    .welcometitle {
        font-size: 4.5em;
    }

    .welcometext {
        font-size: 1.75em;
    }

    .welcomescroll {
        font-size: 1em;
    }

    .verticalcardholder {
        gap: 32px;
        padding-top: 20px;
    }

    .verticalcard {
        font-size: 1em;
    }

    .resumecontainer {
        width: 80vw;
        grid-template-columns: 1fr;
        margin-left: 10vw;
    }

    .bodytext, .bodytextcenter {
        font-size: 1.5em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 3em;
        margin: 0px 10px;
    }

    .footer {
        height: 60vh;
    }

    .footertitle {
        font-size: 4em;
    }

    .footerlinks {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin: 50px 70px;
    }

    .footerlink {
        font-size: 1em;
    }

    .footertext {
        font-size: 0.8em;
    }

    .menubar .navitems {
        display: none;
    }

    .togglebutton {
        display: block;
    }

    .dropdown {
        width: 300px;
        backdrop-filter: blur(10px);
    }

    .open {
        height: 400px;
        width: 300px;
        padding: 20px 40px;
    }
}

@media(max-width: 500px) {
    .bodysection {
        height: 90vh;
    }

    .langgrid {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90vw;
        margin-left: 5vw;
        margin-top: 10px;
    }
    
    .langbutton {
        height: 60px;
    }
    
    .langbutton a {
        font-size: 1.5em;
    }

    #welcomediv {
        height: 100vh;
    }

    #aboutcontact {
        height: 90vh;
    }

    .welcometitle {
        font-size: 3em;
        padding: 10px;
    }

    .welcometext {
        font-size: 1.3em;
    }

    .welcomescroll {
        font-size: 1em;
    }

    .verticalcardholder {
        gap: 32px;
        padding-top: 20px;
    }

    .verticalcard {
        font-size: 1em;
        width: 51px;
        height: 60vh;
    }
    
    .vcardtext {
        text-align: center;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .resumecontainer {
        width: calc(100vw - 20px) !important;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: 10px !important;
    }

    .resumebox {
        border-radius: 20px;
        padding: 12px;
    }

    .rboxtitle {
        font-size: 0.75em;
    }
    
    .rboxmaininfo {
        font-size: 1.75em;
    }

    .rboxsecondinfo {
        font-size: 0.8em;
    }

    .bodytext, .bodytextcenter {
        font-size: 1em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 2em !important;
        margin: 0px 10px;
    }

    .footertitle {
        font-size: 3em;
    }

    .footerlinks {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 50px 10px;
    }

    .footerlink {
        font-size: 1em;
    }

    .footertext {
        margin: 10px 10px;
        font-size: 0.8em;
    }

    .dropdown {
        width: calc(100vw - 100px);
        backdrop-filter: blur(10px);
    }


    .teleport {
        padding: 150px 10px;
    }
    
    .tpmenu {
        padding: 10px;
        height: 300px;
        width: 100px;
        border-radius: 20px;
        line-height: 10px;
    }

    .tpmenuitem {
        margin-bottom: 20px;
    }


    .tpmenuitem a {
        font-size: 0.7em;
    }

    .tpcontent {
        margin-left: 10px;
        height: calc(90vh - 200px);
        overflow: scroll;
        scroll-behavior: smooth;
    }
    
    .tpsection {
        padding-bottom: 10px;
    }
    
    .tptitle {
        font-size: 2em;
        font-weight: 700;
        color: #72342e;
    }
    
    .tpsectionitemtitle {
        font-size: 1em;
        font-weight: 700;
        color: #72342e;
    }
    
    .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
        color: #2d1412;
    }
    
    .tpsectionitemlocation, .tpsectionitemdate {
        font-size: 1em;
        font-weight: 500;
    }
    
    .tpsectionitemtitle, .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
        text-indent: 30px;
        padding-bottom: 5px;
    }
    
    .tpsectionitemdesc {
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 1em;
        font-weight: 300;
    }
    
    .tplink {
        color: #72342e;
        transition: all 0.2s;
    }
    
    .tplink:hover {
        color: #db6f63 !important;
    }
    
    .tplink:visited {
        color: #72342e;
    }
}

@media(max-width: 300px) {

    .langgrid {
        gap: 15px;
        width: 95vw;
        margin-left: 2.5vw;
        margin-top: 10px;
    }
    
    .langbutton {
        height: 50px;
    }
    
    .langbutton a {
        font-size: 1.25em;
    }

    .welcometitle {
        font-size: 2.5em;
    }

    .welcometext {
        font-size: 1.1em;
    }

    .welcomescroll {
        font-size: 0.9em;
    }

    .verticalcardholder {
        gap: 15px;
        padding-top: 20px;
    }
    
    .vcardtext {
        text-align: center;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .resumecontainer {
        width: 80vw;
        grid-template-columns: 1fr;
        margin-left: 10vw;
    }

    .resumebox {
        border-radius: 15px !important;
        padding: 10px !important;
    }

    .rboxtitle {
        font-size: 0.25em !important;
    }
    
    .rboxmaininfo {
        font-size: 1.25em !important;
    }

    .rboxsecondinfo {
        font-size: 0.5em !important;
    }

    .bodytext, .bodytextcenter {
        font-size: 1em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 2em !important;
        margin: 0px 10px;
    }

    .resumebox {
        border-radius: 20px;
        padding: 12px;
    }

    .rboxtitle {
        font-size: 0.75em;
    }
    
    .rboxmaininfo {
        font-size: 1.75em;
    }

    .rboxsecondinfo {
        font-size: 0.8em;
    }

    .bodytext, .bodytextcenter {
        font-size: 0.75em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 2.5em;
        margin: 0px 10px;
    }

    .footer {
        height: 80vh;
    }

    .footertitle {
        font-size: 3em;
    }

    .footerlinks {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 50px 10px;
    }

    .footerlink {
        font-size: 1em;
    }

    .footertext {
        margin: 10px 10px;
        font-size: 0.8em;
    }

    .dropdown {
        width: calc(100vw - 100px);
        backdrop-filter: blur(10px);
    }
   
    .tptitle {
        font-size: 1.5em;
    }
    
    .tpsectionitemtitle {
        font-size: 0.75em;
    }

    .tpsectionitemlocation, .tpsectionitemdate {
        font-size: 0.75em;
    }
    
    .tpsectionitemtitle, .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
        text-indent: 10px;
        padding-bottom: 5px;
    }
    
    .tpsectionitemdesc {
        font-size: 0.75em;
    }

}