@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Wittgenstein:wght@400..900&display=swap');

@keyframes pulsefade {
    from {
        opacity: 100%;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wittgenstein', serif;
    scroll-behavior: smooth;
}

html {
    color-scheme: light;
}

body {
    background-color: rgb(236, 200, 172);
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navitems li {
    list-style: none;
}

.navlink {
    text-decoration: none;
    color: #72342e;
    transition: all 0.2s;
    text-transform: uppercase;
}

.navlink:visited {
    color: #72342e;
}

.navlink:hover {
    color: #db6f63;
}

.menubar {
    position: fixed;
    padding: 20px 40px;
    border-bottom: 1px solid #72342e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(236, 200, 172, 0.8);
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.menubar .logo {
    width: 60px;
    height: 60px;
    background-image: url(./assets/Icon-inactive.png);
    background-size: contain;
    background-position: center;
    transition: all 0.2s;
}

.menubar .logo:hover {
    background-image: url(./assets/icon-active.png);
}

.menubar .navitems {
    display: flex;
    gap: 2rem;
}

.togglebutton {
    display: none;
}

.togglebutton span {
    color: #72342e;
    transition: all 0.2s;
    cursor: pointer;
}

.togglebutton span:hover{
    color: #db6f63;
}

.dropdown {
    position: absolute;
    overflow: hidden;
    right: 5rem;
    top: 38px;
    width: 0px;
    height: 0px;
    padding: 0;
    background-color: rgba(255, 241, 230, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 120px 0px 120px 60px;
    list-style: none;
    text-decoration: none;
    color: #72342e;
    transition: all 0.5s;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 60px;
}

.bodysection {
    height: auto !important;
    padding-bottom: 100px;
    background-color: rgb(236, 200, 172);
}

.langgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 30px;
}

.langbutton {
    background-color: #72342e;
    height: 100px;
    border-radius: 100px;
    transition: all 0.2s;
}

.langbutton:hover {
    background-color: #db6f63;
}

.langbutton a {
    color: rgb(236, 200, 172);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.langbutton a:visited {
    color: rgb(236, 200, 172);
}

.welcometext, .welcomescroll, .bodytext, .welcometitle, .bodytitle {
    color: #72342e;
}

.welcometext, .welcomescroll, .welcometitle {
    text-align: center;
}

.bodytext {
    text-align: center;
    margin: 20px 300px;
    font-size: 1.5em;
}

.bodytextcenter {
    text-align: center;
    color: #72342e;
    margin-top: 20px;
    font-size: 1.5em;
}

.bodylink {
    color: #db6f63;
    transition: all 0.2s;
}

.bodylink:hover {
    color: #2d1412 !important;
}

.bodylink:visited {
    color: #db6f63;
}

.welcometext {
    font-size: 2rem;
    font-weight: 500;
    padding-top: 40vh;
}

.welcometitle {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
}

.welcomescroll {
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 25vh;
}

.welcomescroll span {
    animation: pulsefade 2s;
    animation-iteration-count: infinite;
    transform: translateY(0.2em);
}

.bodytitle {
    margin-top: 30px;
    text-align: center;
    font-size: 4rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 800px;
    margin-left: calc((100vw - 800px)/2);
}

.accordionpanel {
    position: relative;
    isolation: isolate;
    flex-basis: 4.5em;
    overflow: hidden;
    padding: 0.75em;
    padding-right: 3em;
    border-radius: 2.25em;
    transition: all 0.5s;
}

.accordionpanel:has([aria-expanded = 'true']) {
    flex-basis: 15em;
}

.accordioncontent .accordiontext {
    transform: translateY(2rem);
    opacity: 0;
    color: rgb(212, 174, 146);
    transition: all 0.5s;
    transition-delay: 0.5s ;
    margin-left: 3.6em;
    pointer-events: none;
    font-size: 1.1em;
}

.accordiontext .accordionlink {
    color: #db6f63;
    transition: all 0.2s;
}

.accordiontext .accordionlink:visited {
    color: #db6f63;
}

.accordiontext .accordionlink:hover {
    color: #fec4be;
}

.accordionpanel:has([aria-expanded = 'true']) .accordioncontent .accordiontext {
    transform: translateY(0);
    opacity: 100%;
    pointer-events: all;
}

.accordionimage {
    max-width: 100%;
    min-width: 100%;
    display: block;
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
}

.accordionpanel:has([aria-expanded = 'true']) .accordionimage {
    filter: brightness(0.5) blur(1px);
}

.accordiontrigger {
    background: transparent;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row-reverse;
}

.accordionicon {
    background-color: #72342e;
    color: rgb(212, 174, 146);
    height: 2em;
    padding: 0.5em;
    border-radius: 500px;
}

.paneltitle {
    color: rgb(212, 174, 146);
    font-size: 1.5em;
    font-weight: 700;
}

.resumelink a:visited {
    color: #72342e;
}

.resumecontainer {
    margin-top: 50px;
    width: 800px;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: calc((100vw - 800px)/2);
}

.resumebox {
    background-color: #72342e;
    border-radius: 40px;
    padding: 30px;
}

.two-wide {
    grid-column: span 2;
}

.rboxtitle, .rboxmaininfo, .rboxsecondinfo {
    color: rgb(236, 200, 172);
}

.rboxtitle {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.rboxmaininfo {
    font-size: 2.5rem;
}

#aboutcontact {
    height: auto !important;
    padding-bottom: 40px;
}

.footer {
    height: 50vh;
    background-color: #72342e;
}

.footertitle, .footertext {
    text-align: center;
    color: rgb(236, 200, 172);
}

.footertitle {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 50px;
}

.footertext {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-a, .footerlink {
    color: rgb(236, 200, 172);
    transition: all 0.2s;
}

.footer-a:visited, .footerlink:visited {
    color: rgb(236, 200, 172);
}

.footer-a:hover, .footerlink:hover {
    color: #db6f63;
}

.footerlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 50px 100px;
}

.footerlink {
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.teleport {
    padding: 150px 100px;
    display: flex;
}

.tpmenu {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(212, 174, 146);
    height: 500px;
    width: 600px;
    border-radius: 50px;
    line-height: 20px;
}

.tpmenuitem {
    list-style: none;
    margin-top: 27.5px;
    margin-bottom: 27.5px;
}

.tpmenuitem a {
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: #72342e;
    text-transform: uppercase;
    transition: all 0.2s;
}

.tpmenuitem a:visited {
    color: #72342e;
}

.tpmenuitem a:hover {
    color: #db6f63;
}

.tpcontent {
    border-top: 2px solid #72342e;
    border-bottom: 2px solid #72342e;
    margin-left: 50px;
    height: calc(100vh - 200px);
    overflow: scroll;
    scroll-behavior: smooth;
}

.tpsection {
    padding-bottom: 50px;
}

.tptitle {
    font-size: 4em;
    font-weight: 700;
    color: #72342e;
}

.tpsectionitemtitle {
    font-size: 2em;
    font-weight: 700;
    color: #72342e;
}

.tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
    color: #2d1412;
}

.tpsectionitemlocation, .tpsectionitemdate {
    font-size: 1.5em;
    font-weight: 500;
}

.tpsectionitemtitle, .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
    text-indent: 30px;
}

.tpsectionitemdesc {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.1em;
    font-weight: 300;
}

.tplink {
    color: #72342e;
    transition: all 0.2s;
}

.tplink:hover {
    color: #db6f63 !important;
}

.tplink:visited {
    color: #72342e;
}

.contactsection {
    padding-top: 100px;
}

.contactletter {
    margin-left: calc(50vw - 400px);
    padding: 30px;
    width: 800px;
    height: 500px;
    background: url('./assets/paper.jpeg'), white;
    background-size: cover;
    border-radius: 3em;
}

.lettertext {
    font-family: "Homemade Apple", cursive;
    font-size: 1.25em;
    color: #272727;
}

#namefield {
    width: 90.6%;
    font-family: "Homemade Apple", cursive;
    font-size: 1.25em;
    padding: 5px;
    background: transparent;
    border: none;
    color: #272727;
    border-bottom: 2px dashed #272727;
}

#messagefield {
    margin-top: 30px;
    width: 100%;
    height: 275px;
    resize: none;
    font-family: "Homemade Apple", cursive;
    font-size: 1.25em;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 2px dashed #272727;
}

#messagefield::placeholder, #namefield::placeholder {
    color: #5e5e5e;
}

#sendbutton {
    width: 150px;
    margin-left: calc(50% - 50px);
    background: none;
    border: none;
    font-family: "Homemade Apple", cursive;
    font-size: 1.25em;
    cursor: pointer;
    color: #272727;
    transition: all 0.2s;
}

#sendbutton:hover {
    color: #5e5e5e !important;
}

.contactnote {
    font-size: 1em;
}

@media(max-width: 1200px) {
    .welcometitle {
        font-size: 4.5em;
    }

    .welcometext {
        font-size: 1.75em;
    }

    .welcomescroll {
        font-size: 1em;
    }

    .accordion {
        width: 500px;
        margin-left: calc((100vw - 500px)/2);
    }

    .resumecontainer {
        width: 80vw;
        grid-template-columns: 1fr;
        margin-left: 10vw;
    }

    .bodytext, .bodytextcenter {
        font-size: 1.5em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 3em;
        margin: 0px 10px;
    }

    .footer {
        height: 60vh;
    }

    .footertitle {
        font-size: 4em;
    }

    .footerlinks {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin: 50px 70px;
    }

    .footerlink {
        font-size: 1em;
    }

    .footertext {
        font-size: 0.8em;
    }

    .menubar .navitems {
        display: none;
    }

    .togglebutton {
        display: block;
    }

    .dropdown {
        width: 300px;
        backdrop-filter: blur(10px);
    }

    .open {
        height: 400px;
        width: 300px;
        padding: 20px 40px;
    }

    .contactletter {
        margin-left: calc(50vw - 250px);
        width: 500px;
        height: 500px;
    }
    
    .lettertext {
        font-size: 1.1em;
    }
    
    #namefield {
        width: 100%;
        font-size: 1.1em;
    }
    
    #messagefield {
        margin-top: 30px;
        width: 100%;
        height: 275px;
        font-size: 1.25em;
    }

    #sendbutton {
        font-size: 1.1em;
        width: 100%;
        margin: 0;
    }

    .contactnote {
        font-size: 1em;
    }
}

@media(max-width: 500px) {
    .bodysection {
        height: 90vh;
    }

    .langgrid {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90vw;
        margin-left: 5vw;
        margin-top: 10px;
    }
    
    .langbutton {
        height: 60px;
    }
    
    .langbutton a {
        font-size: 1.5em;
    }

    #welcomediv {
        height: 100vh;
    }

    #aboutcontact {
        height: 90vh;
    }

    .welcometitle {
        font-size: 3em;
        padding: 10px;
    }

    .welcometext {
        font-size: 1.3em;
    }

    .welcomescroll {
        font-size: 1em;
    }

    .accordion {
        width: 300px;
        margin-left: calc((100vw - 300px)/2);
    }

    .accordionpanel:has([aria-expanded = 'true']) {
        flex-basis: 11em;
    }

    .accordioncontent .accordiontext {
        font-size: 0.8em;
        margin-left: 5em;
    }

    .resumecontainer {
        width: calc(100vw - 20px) !important;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: 10px !important;
    }

    .resumebox {
        border-radius: 20px;
        padding: 12px;
    }

    .rboxtitle {
        font-size: 0.75em;
    }
    
    .rboxmaininfo {
        font-size: 1.75em;
    }

    .rboxsecondinfo {
        font-size: 0.8em;
    }

    .bodytext, .bodytextcenter {
        font-size: 1em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 2em !important;
        margin: 0px 10px;
    }

    .footertitle {
        font-size: 3em;
    }

    .footerlinks {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 50px 10px;
    }

    .footerlink {
        font-size: 1em;
    }

    .footertext {
        margin: 10px 10px;
        font-size: 0.8em;
    }

    .dropdown {
        width: calc(100vw - 100px);
        backdrop-filter: blur(10px);
    }


    .teleport {
        padding: 150px 10px;
    }
    
    .tpmenu {
        padding: 10px;
        height: 300px;
        width: 100px;
        border-radius: 20px;
        line-height: 10px;
    }

    .tpmenuitem {
        margin-bottom: 20px;
    }


    .tpmenuitem a {
        font-size: 0.6em;
    }

    .tpcontent {
        margin-left: 10px;
        height: calc(90vh - 200px);
        overflow: scroll;
        scroll-behavior: smooth;
    }
    
    .tpsection {
        padding-bottom: 10px;
    }
    
    .tptitle {
        font-size: 2em;
        font-weight: 700;
        color: #72342e;
    }
    
    .tpsectionitemtitle {
        font-size: 1em;
        font-weight: 700;
        color: #72342e;
    }
    
    .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
        color: #2d1412;
    }
    
    .tpsectionitemlocation, .tpsectionitemdate {
        font-size: 1em;
        font-weight: 500;
    }
    
    .tpsectionitemtitle, .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
        text-indent: 30px;
        padding-bottom: 5px;
    }
    
    .tpsectionitemdesc {
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 1em;
        font-weight: 300;
    }
    
    .tplink {
        color: #72342e;
        transition: all 0.2s;
    }
    
    .tplink:hover {
        color: #db6f63 !important;
    }
    
    .tplink:visited {
        color: #72342e;
    }

    .contactletter {
        margin-left: calc(50vw - 150px);
        width: 300px;
        height: 350px;
    }
    
    .lettertext {
        font-size: 1em;
    }
    
    #namefield {
        font-size: 1em;
    }
    
    #messagefield {
        margin-top: 30px;
        width: 100%;
        height: 125px;
        font-size: 1em;
    }

    #sendbutton {
        font-size: 1em;
    }

    .contactnote {
        font-size: 1em;
    }
}

@media(max-width: 300px) {

    .langgrid {
        gap: 15px;
        width: 95vw;
        margin-left: 2.5vw;
        margin-top: 10px;
    }
    
    .langbutton {
        height: 50px;
    }
    
    .langbutton a {
        font-size: 1.25em;
    }

    .welcometitle {
        font-size: 2.5em;
    }

    .welcometext {
        font-size: 1.1em;
    }

    .welcomescroll {
        font-size: 0.9em;
    }

    .accordion {
        width: 230px;
        margin-left: calc((100vw - 230px)/2);
    }

    .accordionpanel {
        padding-right: 15px;
    }

    .accordionpanel:has([aria-expanded = 'true']) {
        flex-basis: 8.5em;
    }

    .paneltitle {
        font-size: 0.9em;
    }

    .accordioncontent .accordiontext {
        font-size: 0.4em;
        margin-left: 10em;
        margin-right: 0;
    }


    .resumecontainer {
        width: 80vw;
        grid-template-columns: 1fr;
        margin-left: 10vw;
    }

    .resumebox {
        border-radius: 15px !important;
        padding: 10px !important;
    }

    .rboxtitle {
        font-size: 0.25em !important;
    }
    
    .rboxmaininfo {
        font-size: 1.25em !important;
    }

    .rboxsecondinfo {
        font-size: 0.5em !important;
    }

    .bodytext, .bodytextcenter {
        font-size: 1em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 2em !important;
        margin: 0px 10px;
    }

    .resumebox {
        border-radius: 20px;
        padding: 12px;
    }

    .rboxtitle {
        font-size: 0.75em;
    }
    
    .rboxmaininfo {
        font-size: 1.75em;
    }

    .rboxsecondinfo {
        font-size: 0.8em;
    }

    .bodytext, .bodytextcenter {
        font-size: 0.75em;
        margin: 20px 10vw ;
    }

    .bodytitle {
        font-size: 2.5em;
        margin: 0px 10px;
    }

    .footer {
        height: 80vh;
    }

    .footertitle {
        font-size: 3em;
    }

    .footerlinks {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 50px 10px;
    }

    .footerlink {
        font-size: 1em;
    }

    .footertext {
        margin: 10px 10px;
        font-size: 0.8em;
    }

    .dropdown {
        width: calc(100vw - 100px);
        backdrop-filter: blur(10px);
    }
   
    .tptitle {
        font-size: 1.5em;
    }
    
    .tpsectionitemtitle {
        font-size: 0.75em;
    }

    .tpsectionitemlocation, .tpsectionitemdate {
        font-size: 0.75em;
    }
    
    .tpsectionitemtitle, .tpsectionitemlocation, .tpsectionitemdate, .tpsectionitemdesc {
        text-indent: 10px;
        padding-bottom: 5px;
    }
    
    .tpsectionitemdesc {
        font-size: 0.75em;
    }

    .contactletter {
        margin-left: calc(50vw - 125px);
        width: 250px;
        height: 350px;
    }
    
    .lettertext {
        font-size: 0.8em;
    }
    
    #namefield {
        font-size: 0.8em;
    }
    
    #messagefield {
        font-size: 0.8em;
    }

    #sendbutton {
        font-size: 0.8em;
    }

    .contactnote {
        font-size: 0.8em;
    }
}

.fadein {
    transition: all 0.5s;
}

.noopacity {
    opacity: 0;
    transform: translateY(50px);
}